/* Universal Styles */

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;

}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
}

h1 {
    font-size: 3.5em;
    font-weight: 300;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: auto;
}

.container-2 {
  max-width: 75%;
  margin: auto;
}
/* Header */

header {
  height: 40rem;
  padding-top: 1rem;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: white;
  color: black;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.truncated-menu {
  display: none;
}
