/* Universal Styles */

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;

}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  line-height: 1.2em;
  margin-bottom: .65rem;
}

h1 {
    font-size: 3.5em;
    font-weight: 300;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: auto;
}

.container-2 {
  max-width: 75%;
  margin: auto;
}

.container-3 {
  max-width: 100%;
  margin: auto;
  margin: 3rem 0 4rem 0;
  padding: 1rem 0 4rem 0;
}

.bg-box {
  background-color: #EBEBEB;
}

a {
  text-decoration: none;
  color: #5C2BDD;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Header */

header {
  height: 40rem;
  padding-top: 1rem;
  background:
    /* top, transparent red */
    linear-gradient(
      rgba(82, 156, 223, 0.55),
      rgba(94, 96, 240, 0.85)
    ),
    /* bottom, image */
    url("../images/banner.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: white;
  color: black;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.truncated-menu {
  display: none;
}

.message {
  margin-top: 10rem;
  padding-left: 5%;
  color: white;
  max-width: 600px;
}

.message h1 {
  margin-bottom: 3%;

}
.message h3 {
  font-size: 1.35em;
  letter-spacing: 1px;
}

.button {
  display: flex;
  width: 300px;
  height: 55px;
  background-color: orange;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.button span {
  font-size: 1.15em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*below the fold*/
#featured {
  margin-top: 30px;
  border-top: 1px solid grey;
  padding-top: 30px;
  margin-bottom: 30px;

}
.main-panel {
  max-width: 60%;
  padding-right: 60px;
}

.main-panel img {
  max-width: 100%;
  margin-bottom: 2%;
}

.main-panel p {
  max-width: 900px;
}

.main-panel h2 {
  font-size: 3.3rem;
}

.side-panel {
  flex-direction: column;
  max-width: 40%;
}

.call-out{
  align-items: center;
  margin-bottom: 2%;
}

.featured-img {
  width: 35%;
}

.featured-img img {
  padding: 0 0.5rem 1.5rem 0;
  width: 100%;
  height: auto;

}

.featured-text {
  width: 65%;
  height: auto;
  margin-left: 2.5rem;
}

.featured-text h4 {
  font-size: 2rem;
}


/*Start learning*/

.headline {
  justify-content: center;
  height: 10rem;
  align-items: center;
}

.content {
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  background-color: white;
  padding: 15px 15px;
  margin-bottom: 2%;
}
.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  padding: 0.65rem 0.95rem;

}

.card a {
  padding: 0.65rem 0.95rem;

}

.card p {
  padding: 0.65rem 0.95rem;

}

/*Exhibition section */

.main-panel-2 {
  max-width: 60%;
  padding-right: 60px;
  margin-bottom: 5%;
}

.main-media {
  background-color: #F6F5F5;
  padding-bottom: 1%;
  margin-bottom: 3%;

}

/*footer section*/

footer {
  width: 100%;
  background-color: #5E60F1;
  color: white;
  height: 3rem;
}

 footer span {
   flex-grow: 1;
 }

footer li {
  display: inline;
  padding: 0 1rem;
}

foter a {
  color: white;
}
